/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* personalización variable de bootstrap */

$font-family-base: 'patrick hand';

/* COLORES */

/* personalicación colores básicos */

$primary: #56cc9d;
$secondary: #f3969a;
$success: #d9f5ed;
$yellow-j: #ffce67;

/* personalización colores theme */

$theme-colors: (

    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "yellow-j": $yellow-j,
);

/*IMPORTACIÓN DE BOOTSTRAP*/

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* CAMBIOS A LA BASE DE BOOTSTRAP*/
 
/* clase fantasma  */

$tcolor: white;

.javistyle {
    background-color: $secondary;
    color: $tcolor;
    text-align: center;
}

/* @extend */

.list-group-item {

    @extend .javistyle;
    
}

$mbutton: 5%;

.btn{
    margin: $mbutton;
    background-color: $yellow-j;
    border-radius: 10px;
 

}

/*clase fantasma */

.javistyle1{
   
    color: $primary;
    text-align: center;
    background-color: $success;

}

/* extend*/

.card-body {
   @extend .javistyle1;
}
